Repository duckduckgo/Android, pull requests merged in 2023-06, with the labels that each got.

#3243 Update content scope scripts to latest version
  node_modules/@duckduckgo/content-scope-scripts/README.md
  node_modules/@duckduckgo/content-scope-scripts/build/android/contentScope.js
  package-lock.json
  package.json
Labels: automated pr, content scope scripts

#3245 Update content scope scripts to latest version
  node_modules/@duckduckgo/content-scope-scripts/build/android/contentScope.js
  package-lock.json
  package.json
Labels: automated pr, content scope scripts

#3248 Update the existing "About DuckDuckGo" screen to match the new design
  app/src/main/java/com/duckduckgo/app/about/AboutDuckDuckGoActivity.kt
  app/src/main/java/com/duckduckgo/app/about/AboutDuckDuckGoViewModel.kt
  app/src/main/java/com/duckduckgo/app/about/FeedbackContract.kt
  app/src/main/res/layout/content_about_duck_duck_go.xml
  app/src/test/java/com/duckduckgo/app/about/AboutDuckDuckGoViewModelTest.kt
Labels: STACKED PR - DO NOT MERGE

#3246 Create the new Appearance screen
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/duckduckgo/app/about/AboutDuckDuckGoActivity.kt
  app/src/main/java/com/duckduckgo/app/about/AboutDuckDuckGoViewModel.kt
  app/src/main/java/com/duckduckgo/app/about/FeedbackContract.kt
  app/src/main/java/com/duckduckgo/app/appearance/AppearanceActivity.kt
  app/src/main/java/com/duckduckgo/app/appearance/AppearanceViewModel.kt
  app/src/main/java/com/duckduckgo/app/appearance/ChangeIconContract.kt
  app/src/main/java/com/duckduckgo/app/pixels/AppPixelName.kt
  app/src/main/java/com/duckduckgo/app/settings/SettingsActivity.kt
  app/src/main/java/com/duckduckgo/app/settings/SettingsViewModel.kt
  app/src/main/res/layout/activity_appearance.xml
  app/src/main/res/layout/content_about_duck_duck_go.xml
  app/src/main/res/values/donottranslate.xml
  app/src/test/java/com/duckduckgo/app/about/AboutDuckDuckGoViewModelTest.kt
  app/src/test/java/com/duckduckgo/app/appearance/AppearanceViewModelTest.kt
  app/src/test/java/com/duckduckgo/app/settings/SettingsViewModelTest.kt
Labels: STACKED PR - DO NOT MERGE

#3230 Create the new "Permissions and Privacy" screen
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/duckduckgo/app/about/AboutDuckDuckGoActivity.kt
  app/src/main/java/com/duckduckgo/app/about/AboutDuckDuckGoViewModel.kt
  app/src/main/java/com/duckduckgo/app/about/FeedbackContract.kt
  app/src/main/java/com/duckduckgo/app/appearance/AppearanceActivity.kt
  app/src/main/java/com/duckduckgo/app/appearance/AppearanceViewModel.kt
  app/src/main/java/com/duckduckgo/app/appearance/ChangeIconContract.kt
  app/src/main/java/com/duckduckgo/app/permissionsandprivacy/PermissionsAndPrivacyActivity.kt
  app/src/main/java/com/duckduckgo/app/permissionsandprivacy/PermissionsAndPrivacyViewModel.kt
  app/src/main/java/com/duckduckgo/app/pixels/AppPixelName.kt
  app/src/main/java/com/duckduckgo/app/settings/SettingsActivity.kt
  app/src/main/java/com/duckduckgo/app/settings/SettingsViewModel.kt
  app/src/main/res/layout/activity_appearance.xml
  app/src/main/res/layout/activity_permissions_and_privacy.xml
  app/src/main/res/layout/content_about_duck_duck_go.xml
  app/src/main/res/layout/content_permissions_and_privacy.xml
  app/src/main/res/layout/content_permissions_and_privacy_section_customize.xml
  app/src/main/res/layout/content_permissions_and_privacy_section_privacy.xml
  app/src/main/res/values/donottranslate.xml
  app/src/test/java/com/duckduckgo/app/about/AboutDuckDuckGoViewModelTest.kt
  app/src/test/java/com/duckduckgo/app/appearance/AppearanceViewModelTest.kt
  app/src/test/java/com/duckduckgo/app/permissionsandprivacy/PermissionsAndPrivacyViewModelTest.kt
  app/src/test/java/com/duckduckgo/app/settings/SettingsViewModelTest.kt
Labels: STACKED PR - DO NOT MERGE

#3252 Add workflow for Github issues
  .github/workflows/create-issue-asana-task.yaml
Labels: QA-Optional

#3260 Update content scope scripts to latest version
  node_modules/@duckduckgo/content-scope-scripts/build/android/contentScope.js
  package-lock.json
  package.json
Labels: automated pr, content scope scripts

#3266 Update reference tests to latest version
  app/src/test/resources/reference_tests/brokensites/tests.json
  package-lock.json
  package.json
Labels: reference tests, automated pr

#3270 ADS: Update Android Component - SectionHeaderListItem
  common-ui/src/main/res/values/design-system-dimensions.xml
Labels: STACKED PR - DO NOT MERGE

#3256 Create the CheckListItem component
  app/src/main/java/com/duckduckgo/app/settings/CheckListItem.kt
  app/src/main/java/com/duckduckgo/app/settings/SettingsActivity.kt
  app/src/main/java/com/duckduckgo/app/settings/SettingsViewModel.kt
  app/src/main/res/drawable/ic_check_green_round_16.xml
  app/src/main/res/drawable/ic_check_grey_round_16.xml
  app/src/main/res/drawable/ic_exclamation_yellow_16.xml
  app/src/main/res/layout/content_settings_privacy.xml
  app/src/main/res/layout/view_check_list_item.xml
  app/src/main/res/values/donottranslate.xml
  app/src/test/java/com/duckduckgo/app/settings/SettingsViewModelTest.kt
  common-ui/src/main/res/values/attrs-settings-check-list-item.xml
  common-ui/src/main/res/values/design-system-dimensions.xml
  common-ui/src/main/res/values/design-system-theming.xml
  common-ui/src/main/res/values/widgets.xml
Labels: STACKED PR - DO NOT MERGE

#3275 Update content scope scripts to latest version
  node_modules/@duckduckgo/content-scope-scripts/build/android/contentScope.js
  package-lock.json
  package.json
Labels: automated pr, content scope scripts

#3271 ADS: Update Android Component - OneLineItem
  common-ui/src/main/res/layout/view_one_line_list_item.xml
  common-ui/src/main/res/layout/view_two_line_item.xml
  common-ui/src/main/res/values/design-system-dimensions.xml
Labels: STACKED PR - DO NOT MERGE

#3277 Update reference tests to latest version
  package-lock.json
  package.json
Labels: reference tests, automated pr

#3239 Sync: State Monitor
  app/src/main/java/com/duckduckgo/app/settings/SettingsViewModel.kt
  app/src/test/java/com/duckduckgo/app/settings/SettingsViewModelTest.kt
  saved-sites/saved-sites-impl/src/main/java/com/duckduckgo/savedsites/impl/sync/SavedSitesSyncDataObserver.kt
  sync/sync-api/build.gradle
  sync/sync-api/src/main/java/com/duckduckgo/sync/api/SyncStateMonitor.kt
  sync/sync-impl/src/main/java/com/duckduckgo/sync/impl/RealSyncStateMonitor.kt
  sync/sync-impl/src/main/java/com/duckduckgo/sync/impl/SyncRepository.kt
  sync/sync-impl/src/main/java/com/duckduckgo/sync/impl/engine/RealSyncEngine.kt
  sync/sync-impl/src/main/java/com/duckduckgo/sync/impl/engine/SyncScheduler.kt
  sync/sync-impl/src/main/java/com/duckduckgo/sync/impl/engine/SyncStateRepository.kt
  sync/sync-impl/src/main/java/com/duckduckgo/sync/impl/ui/SyncActivity.kt
  sync/sync-impl/src/main/java/com/duckduckgo/sync/impl/ui/SyncActivityViewModel.kt
  sync/sync-impl/src/main/java/com/duckduckgo/sync/impl/ui/setup/SaveRecoveryCodeFragment.kt
  sync/sync-impl/src/main/java/com/duckduckgo/sync/impl/ui/setup/SetupAccountActivity.kt
  sync/sync-impl/src/main/java/com/duckduckgo/sync/impl/ui/setup/SyncSetupFlowFragment.kt
  sync/sync-impl/src/test/java/com/duckduckgo/sync/impl/RealSyncStateMonitorTest.kt
  sync/sync-impl/src/test/java/com/duckduckgo/sync/impl/engine/SyncEngineTest.kt
  sync/sync-impl/src/test/java/com/duckduckgo/sync/impl/engine/SyncSchedulerTest.kt
  sync/sync-impl/src/test/java/com/duckduckgo/sync/impl/engine/SyncStateRepositoryTest.kt
  sync/sync-impl/src/test/java/com/duckduckgo/sync/impl/ui/SyncActivityViewModelTest.kt
  sync/sync-store/src/main/java/com/duckduckgo/sync/store/SyncDatabase.kt
  sync/sync-store/src/main/java/com/duckduckgo/sync/store/SyncStore.kt
  sync/sync-store/src/main/java/com/duckduckgo/sync/store/dao/SyncAttemptDao.kt
  sync/sync-store/src/main/java/com/duckduckgo/sync/store/model/SyncDatabaseModels.kt
Labels: QA-Optional

#3282 Update content scope scripts to latest version
  node_modules/@duckduckgo/content-scope-scripts/build/android/contentScope.js
  package-lock.json
  package.json
Labels: automated pr, content scope scripts
