Repository duckduckgo/Android, pull requests merged in 2023-08, with the labels that each got.

#3396 Update content scope scripts to version 4.30.0
  node_modules/@duckduckgo/content-scope-scripts/build/android/contentScope.js
  package-lock.json
  package.json
Labels: automated pr, content scope scripts

#3413 Update content scope scripts to version 4.31.0
  node_modules/@duckduckgo/content-scope-scripts/build/android/contentScope.js
  package-lock.json
  package.json
Labels: automated pr, content scope scripts

#3418 Hotfix/5.165.1
  anvil/anvil-compiler/src/main/java/com/duckduckgo/anvil/compiler/ContributesRemoteFeatureCodeGenerator.kt
  app/src/androidTest/java/com/duckduckgo/app/email/EmailInjectorJsTest.kt
  app/version/version.properties
  autofill/autofill-impl/src/test/java/com/duckduckgo/autofill/impl/AutofillCapabilityCheckerImplTest.kt
  content-scope-scripts/content-scope-scripts-impl/src/test/java/com/duckduckgo/contentscopescripts/impl/RealContentScopeScriptsTest.kt
  feature-toggles/feature-toggles-api/src/main/java/com/duckduckgo/feature/toggles/api/FeatureToggles.kt
  feature-toggles/feature-toggles-impl/build.gradle
  feature-toggles/feature-toggles-impl/src/test/java/com/duckduckgo/feature/toggles/api/FeatureTogglesTest.kt
  feature-toggles/feature-toggles-impl/src/test/java/com/duckduckgo/feature/toggles/codegen/ContributesRemoteFeatureCodeGeneratorTest.kt
  feature-toggles/feature-toggles-impl/src/test/java/com/duckduckgo/feature/toggles/codegen/TestTriggerFeature.kt
  privacy-config/privacy-config-store/src/main/java/com/duckduckgo/privacy/config/store/PrivacyConfigDatabase.kt
Labels: HOTFIX DO NOT MERGE

#3399 ['Close all tabs' confirmation]:Translations
  app/src/main/res/values-bg/strings.xml
  app/src/main/res/values-cs/strings.xml
  app/src/main/res/values-da/strings.xml
  app/src/main/res/values-de/strings.xml
  app/src/main/res/values-el/strings.xml
  app/src/main/res/values-es/strings.xml
  app/src/main/res/values-et/strings.xml
  app/src/main/res/values-fi/strings.xml
  app/src/main/res/values-fr/strings.xml
  app/src/main/res/values-hr/strings.xml
  app/src/main/res/values-hu/strings.xml
  app/src/main/res/values-it/strings.xml
  app/src/main/res/values-lt/strings.xml
  app/src/main/res/values-lv/strings.xml
  app/src/main/res/values-nb/strings.xml
  app/src/main/res/values-nl/strings.xml
  app/src/main/res/values-pl/strings.xml
  app/src/main/res/values-pt/strings.xml
  app/src/main/res/values-ro/strings.xml
  app/src/main/res/values-ru/strings.xml
  app/src/main/res/values-sk/strings.xml
  app/src/main/res/values-sl/strings.xml
  app/src/main/res/values-sv/strings.xml
  app/src/main/res/values-tr/strings.xml
  app/src/main/res/values/donottranslate.xml
  app/src/main/res/values/strings.xml
Labels: QA-Optional

#3447 Update content scope scripts to version 4.32.0
  node_modules/@duckduckgo/content-scope-scripts/build/android/contentScope.js
  package-lock.json
  package.json
Labels: automated pr, content scope scripts

#3438 Maestro appTP test: make vpn dialog handling optional
  .maestro/app_tp/app_tp_onboarding.yaml
Labels: QA-Optional

#3453 Re-use shared onboarding flow across all release tests
  .maestro/ads_preview_flows/1-_design-system-components.yaml
  .maestro/app_tp/app_tp_onboarding.yaml
  .maestro/bookmarks/ensure_bookmarks_can_be_added_and_deleted.yaml
  .maestro/browsing/visit_site.yaml
  .maestro/favorites/favorites_bookmarks_delete.yaml
  .maestro/favorites/favorites_bookmarks_undo.yaml
  .maestro/favorites/favorites_menu_add_remove.yaml
  .maestro/fire_button/fire_during_onboarding.yaml
Labels: QA-Optional

#3464 Update reference tests to version 1692081744
  app/src/androidTest/java/com/duckduckgo/app/referencetests/FireproofingReferenceTest.kt
  app/src/androidTest/resources/reference_tests/fireproofing/tests.json
  package-lock.json
  package.json
Labels: reference tests, automated pr

#3466 Update maestro workflow for ADS to run from the top level directory with tag
  .github/workflows/ads-end-to-end.yml
  .maestro/ads_preview_flows/1-_design-system-components.yaml
Labels: QA-Optional

#3469 Update content scope scripts to version 4.34.0
  node_modules/@duckduckgo/content-scope-scripts/build/android/contentScope.js
  package-lock.json
  package.json
Labels: automated pr, content scope scripts

#3488 Remove close icon on 2nd auth screen
  sync/sync-impl/src/main/java/com/duckduckgo/sync/impl/ui/setup/SyncSetupFlowFragment.kt
Labels: QA-Optional

#3483 [Allow users to delete bookmarks from edit screen] Android translations
  app/src/main/res/values-bg/strings.xml
  app/src/main/res/values-cs/strings.xml
  app/src/main/res/values-da/strings.xml
  app/src/main/res/values-de/strings.xml
  app/src/main/res/values-el/strings.xml
  app/src/main/res/values-es/strings.xml
  app/src/main/res/values-et/strings.xml
  app/src/main/res/values-fi/strings.xml
  app/src/main/res/values-fr/strings.xml
  app/src/main/res/values-hr/strings.xml
  app/src/main/res/values-hu/strings.xml
  app/src/main/res/values-it/strings.xml
  app/src/main/res/values-lt/strings.xml
  app/src/main/res/values-lv/strings.xml
  app/src/main/res/values-nb/strings.xml
  app/src/main/res/values-nl/strings.xml
  app/src/main/res/values-pl/strings.xml
  app/src/main/res/values-pt/strings.xml
  app/src/main/res/values-ro/strings.xml
  app/src/main/res/values-ru/strings.xml
  app/src/main/res/values-sk/strings.xml
  app/src/main/res/values-sl/strings.xml
  app/src/main/res/values-sv/strings.xml
  app/src/main/res/values-tr/strings.xml
  app/src/main/res/values/donottranslate.xml
  app/src/main/res/values/strings.xml
Labels: STACKED PR - DO NOT MERGE, Pending Translations
